<div class="container contenedor-cards">


    <div class="row">


        <div class="col-sm-6">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hombre</h5>
                    <p class="card-text">Sección de deporte para hombres que disfruten del deporte</p>
                    <a href="#" class="btn btn-primary">Ver Productos</a>
                </div>
            </div>
        </div>




        <div class="col-sm-6">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mujer</h5>
                    <p class="card-text">Sección para Mujeres que viven del deporte</p>
                    <a href="#" class="btn btn-primary">Ver Productos</a>
                </div>
            </div>
        </div>



        <div class="col-sm-6">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Niño</h5>
                    <p class="card-text">Sección de deporte para niños y niñas que le guste el deporte </p>
                    <a href="#" class="btn btn-primary">Ver Productos</a>
                </div>
            </div>
        </div>



        <div class="col-sm-6">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Productos mas Destacados</h5>
                    <p class="card-text">productos destacados de la semana</p>
                    <a href="#" class="btn btn-primary">Ver Productos</a>
                </div>
            </div>

        </div>
    </div>
</div>